@use '../abstracts/' as *;
@use '../base/' as *;

.FavoriteCard {
    width: 100%;
    min-height: 6rem;
    background-color: $bg-color-card-light;

    border-radius: $b-radius-normal;
    margin-bottom: $m-small;
    box-shadow: $b-shadow-normal;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    position: relative;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(0.2rem);
        box-shadow: $b-shadow-special;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: $b-shadow-active;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        margin: $m-small;
    }

    .FavoriteCard__img {
        width: 35%;

        border-top-left-radius: $b-radius-normal;
        border-top-right-radius: $b-radius-normal;
        border-bottom-left-radius: $b-radius-normal;

        margin: $m-small;
    }

    .FavoriteCard__info {
        width: 65%;
        padding-top: $p-medium;
        text-align: left;

        h3 {
            font-size: $f-medium;
            color: $font-color-primary;
        }

        h4 {
            font-size: $f-small;
            font-weight: 300;
            color: $font-color-secondary;
        }

        .FavoriteCard__info__remove {
            position: absolute;
            top: 0%;
            right: 0%;
            cursor: pointer;
        }
        .FavoriteCard__info__caret {
            position: absolute;
            bottom: 0%;
            right: 0%;
            cursor: grab;
        }
    }
}
