@use '../abstracts/' as *;
@use '../base/' as *;

.GardenDisplay {
    min-height: calc(100vh - 4rem);
    // min-width: 100vw;
    text-align: center;
    perspective: 500rem;

    background-color: $bg-color--primary;
    border-radius: $b-radius-normal;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: relative;

    .GardenDisplay__body__header {
        //width: 100%;
        text-align: center;
        padding: $p-x-large 0;
    }

    .GardenDisplay__aside__plantSelection {
        //max-width: 50rem;
        position: absolute;
        bottom: 10%;
        right: 5%;
        text-align: left;
    }

    .GardenDisplay__selectPlants {
        max-height: calc(100vh - 5rem);
        padding: 1rem;
        border-radius: $b-radius-normal;
        background-color: $bg-color--secondary;

        display: inline-block;
        // flex-flow: row nowrap;
        // justify-content: center;
        // align-content: flex-end;

        overflow-x: hidden;
        overflow-y: hidden;
    }

    button {
        padding: 0.5rem;
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
}
