@use '../abstracts/' as *;
@use '../base/' as *;

.MyPlantForm {
    background-color: $bg-color--secondary;

    position: absolute;
    top: -28.3rem;
    left: 1%;
    z-index: 450;

    max-width: 20rem;
    max-height: 5rem;
    margin: auto;

    border-radius: $b-radius-normal;
    box-shadow: $b-shadow-normal;

    transition: $transition-normal;

    &:hover {
        box-shadow: $b-shadow-special;
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: $b-shadow-active;
    }

    .MyPlantForm__header {
        height: 7rem;
        border-radius: $b-radius-normal;

        text-align: right;
        position: relative;

        .wave {
            position: absolute;
            bottom: -10%;
            right: 0;
            width: 100%;

            svg {
                display: block;
            }
        }
    }
}

.MyPlantForm__infoControls {
    padding: $p-small;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: $bg-color-card-light;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    z-index: 10;

    position: relative;
    transition: all 0.3s ease-in-out;

    .plant_icon {
        width: 2.5rem;
        height: 2.5rem;

        position: absolute;
        top: -43%;
        right: 15%;

        &:hover {
            -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
            animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
    }
}

.MyPlantForm__infoControls__nameFavorite {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    text-transform: capitalize;

    .MyPlantForm__infoControls__name {
        text-align: left;

        .MyPlantForm__infoControls__scientificName {
            padding: 0 0 $p-small $p-small;

            font-size: 0.5rem;
            font-weight: 300;
            font-style: italic;

            color: $font-color-secondary;
            text-transform: initial;
        }

        .MyPlantForm__header__favorite {
            display: flex;
            flex-flow: row nowrap;

            h3 {
                padding: $p-small 0 0 $p-small;

                font-size: $f-medium;
                font-weight: 400;
                color: $font-color-primary;
            }

            img {
                width: 1rem;
                height: 1rem;

                cursor: pointer;
            }
        }
    }
}

.MyPlantForm__infoControls__icons-group {
    // -webkit-animation: rotate-center360 0.6s 1.5s ease-in-out both;
    // animation: rotate-center360 0.6s 1.5s ease-in-out both;

    img {
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;

        margin: 0 $m-small;
        transition: all 0.7s ease-in-out;

        position: absolute;
        bottom: 1rem;
        right: 1rem;

        &:hover {
            background-color: $bg-color--primary;
            border-radius: 50%;
        }
    }
}

//// classes for expanding the plantInfoCard

//// hide for the detailed info
.hide {
    display: none;
}

//// rotate caret
.frontFlip {
    -webkit-animation: rotate-center180 0.5s ease-in-out both;
    animation: rotate-center180 0.5s ease-in-out both;
}

.MyPlantForm__detailedInfo {
    width: 100%;
    //min-height: 15rem;
    padding-top: $p-small;
    border-radius: $b-radius-normal;
    border: 0.5rem solid $bg-color--secondary;

    background-color: $bg-color--secondary;

    position: absolute;
    z-index: 400;

    &__suggestions {
        width: 90%;
        margin: 0 auto $m-medium auto;
        text-align: center;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .suggestion {
            background-color: $bg-color-suggest-box;
            flex-basis: 4rem;

            border-radius: $b-radius-special;

            img {
                width: 1.5rem;
                height: 1.5rem;

                margin-top: $m-small;
            }

            h6 {
                font-size: 0.5rem;
                color: black;
                font-weight: 300;
                font-style: italic;
                text-transform: capitalize;
                padding-bottom: $p-small;
            }
        }
    }

    .MyPlantForm__detailedInfo__texts {
        padding: 0 $p-medium;
        text-align: left;

        h4 {
            font-size: $f-medium;
            font-weight: 400;
            margin: 0;
            text-transform: capitalize;
        }

        h5 {
            font-size: $f-small;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 0.25rem;
            text-align: center;
        }

        h6 {
            font-size: 0.5rem;
            font-weight: 300;
            font-style: italic;
            color: $font-color-secondary;
            text-transform: capitalize;
        }

        p {
            max-width: 18rem;
            font-size: 0.6rem;
            font-weight: 400;
            color: $font-color-secondary;
            margin-bottom: $m-medium;
        }

        .companions__list {
            max-width: 20rem;

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;

            list-style: none;
            padding-bottom: $p-small;

            .good {
                padding: 0.3rem 0.5rem;
                margin: 0 0.3rem 0.3rem 0;

                background-color: $bg-color-companion-good;
                border-radius: 0.5rem;

                font-size: 0.5rem;
                color: $font-color-light;
                text-transform: capitalize;
            }

            .bad {
                padding: 0.3rem 0.5rem;
                margin: 0 0.3rem 0.3rem 0;

                background-color: $bg-color-companion-bad;
                border-radius: 0.5rem;

                font-size: 0.5rem;
                color: $font-color-light;
                text-transform: capitalize;
            }
        }
    }
}

// form to create myPlant
.MyPlantForm__userDefinedInfo {
    background-color: $bg-color-card-light;
    border-radius: 0 0 $b-radius-normal $b-radius-normal;

    h5 {
        font-size: $f-small;
        font-weight: 300;
        text-transform: capitalize;
        margin-bottom: $m-small;
        text-align: center;
    }
    .MyPlantForm__form {
        @include flex-col-center;
        width: 90%;

        padding-bottom: $p-large;
        margin: auto;

        &__label {
            font-family: $font-family-secondary;
            width: 100%;
            padding-bottom: $p-medium;
            //margin-bottom: $m-small;
        }
        &__input {
            width: 100%;
            height: 2rem;
            padding: 0 $p-small;
            background-color: $bg-color--primary;
            border: 0.1rem solid $bg-color--primary;
            border-radius: $b-radius-normal;

            &::placeholder {
                font-size: $f-small;
                font-family: $font-family-secondary;
                color: $font-color-place-holder;
            }
        }

        textarea {
            width: 100%;
            min-height: 5rem;
            padding-top: $p-small;
        }

        .MyPlantForm__form__sections {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.2rem;

            .MyPlantForm__form__section1,
            .MyPlantForm__form__section2 {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
            }
        }

        &__buttons {
            width: 100%;

            @include flex-row-center;

            .button {
                width: 45%;
            }
        }
    }
}
