@use '../abstracts/' as *;
@use '../base/' as *;

.PlantCard {
    width: 100%;
    min-height: 6rem;
    background-color: $bg-color-card-light;

    border-radius: $b-radius-normal;
    margin-bottom: $m-small;
    box-shadow: $b-shadow-normal;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    position: relative;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(0.2rem);
        box-shadow: $b-shadow-special;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: $b-shadow-active;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        margin: $m-small;
    }

    .PlantCard__img {
        width: 6rem;
        height: 6rem;
        border-top-left-radius: $b-radius-normal;
        border-top-right-radius: $b-radius-normal;
        border-bottom-left-radius: $b-radius-normal;

        margin: $m-small;
    }

    .PlantCard__info {
        width: 65%;
        text-align: left;

        display: flex;
        flex-flow: row nowrap;

        h3 {
            font-size: $f-medium;
            color: $font-color-primary;
        }

        h4 {
            font-size: $f-small;
            font-weight: 300;
            color: $font-color-secondary;
        }

        .PlantCard__info__remove {
            position: absolute;
            top: 0%;
            right: 0%;
            cursor: pointer;
        }
        .PlantCard__info__caret {
            position: absolute;
            bottom: 0%;
            right: 0%;
            cursor: grab;
        }
    }

    .PlantCard__info__basic {
        padding-top: 1rem;
    }

    .PlantCard--card__detailedInfo {
        padding: $p-small 0;
        background-color: $bg-color--secondary;

        &__suggestions {
            width: 90%;
            margin: 0 auto $m-medium auto;

            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            .suggestions {
                background-color: $bg-color-suggest-box;
                //min-width: 4rem;
                flex-basis: 4rem;

                border-radius: $b-radius-special;

                img {
                    width: 1.5rem;
                    height: 1.5rem;

                    margin: $m-small 0;
                }

                h6 {
                    font-size: 0.5rem;
                    font-weight: 300;
                    font-style: italic;
                    text-transform: capitalize;
                }
            }
        }

        .PlantCard---card__detailedInfo__texts {
            padding: 0 $p-medium;
            text-align: left;

            h4 {
                font-size: $f-medium;
                font-weight: 400;
                margin: 0;
                text-transform: capitalize;
            }

            h5 {
                font-size: $f-small;
                font-weight: 500;
                text-transform: capitalize;
            }

            h6 {
                font-size: 0.5rem;
                font-weight: 300;
                font-style: italic;
                color: $font-color-secondary;
                text-transform: capitalize;
            }

            p {
                max-width: 60ch;
                font-size: 0.5rem;
                font-weight: 400;
                color: $font-color-secondary;
            }

            .lifeSpan__Harvest {
                margin-bottom: $m-medium;
                h5 {
                    font-size: 0.5rem;
                }
                span {
                    font-size: 0.5rem;
                    font-weight: 400;
                    color: $font-color-secondary;
                    text-transform: capitalize;
                }
            }

            ul {
                max-width: 18rem;
                margin: 0;
                padding: 0;
                display: flex;
                flex-flow: row wrap;

                list-style: none;
                margin-bottom: $m-medium;

                .good {
                    padding: 0.3rem 0.5rem;
                    margin: 0 0.3rem 0.3rem 0;

                    background-color: $bg-color-card-dark;
                    border-radius: 0.5rem;

                    font-size: 0.5rem;
                    color: $bg-color-card-light;
                    text-transform: capitalize;
                }

                .bad {
                    padding: 0.3rem 0.5rem;
                    margin: 0 0.3rem 0.3rem 0;

                    background-color: $bg-color--primary;
                    border-radius: 0.5rem;

                    font-size: 0.5rem;
                    color: $font-color-primary;
                    text-transform: capitalize;
                }
            }

            .wikipedia {
                text-align: right;

                a {
                    text-decoration: none;
                    font-size: 0.8rem;
                    color: $font-color-primary;

                    img {
                        margin-bottom: $m-small;
                        height: 1.5rem;
                        width: 1.5rem;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}
