@use '../abstracts/' as *;
@use '../base/' as *;

.PlantcyclopediaCard {
    flex: 1 0 4rem;

    box-shadow: $b-shadow-normal;
    border-radius: $b-radius-normal;

    transition: $transition-normal;

    h3 {
        font-size: $f-x-small;
        font-weight: 500;
        color: $font-color-secondary;
        margin-bottom: $m-small;
        text-align: center;
        text-transform: capitalize;
        padding-top: $p-small;
    }

    img {
        width: 2rem;
        // height: auto;
        margin: $m-small;
    }

    &:hover {
        transform: translateY(0.2rem);
        box-shadow: $b-shadow-special;

        h3 {
            font-weight: 700;
        }
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: $b-shadow-active;
    }
}

.fruits {
    background: linear-gradient(180deg, rgba(197, 232, 172, 0.8) 16%, rgba(197, 232, 172, 0.8) 90%),
        url('../../assets/patterns/palm-leaf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vegetables {
    background: linear-gradient(180deg, rgba(168, 218, 203, 0.64) 16%, rgba(168, 218, 203, 0.64) 90%),
        url('../../assets/patterns/palm-leaf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.roots {
    background: linear-gradient(180deg, rgba(255, 226, 125, 0.64) 16%, rgba(255, 226, 125, 0.64) 90%),
        url('../../assets/patterns/palm-leaf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.herbs {
    background: linear-gradient(180deg, rgba(216, 142, 161, 0.64) 16%, rgba(216, 142, 161, 0.64) 90%),
        url('../../assets/patterns/palm-leaf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PlantcyclopediaCard.selected {
    transform: scale(1.15);
    box-shadow: $b-shadow-special;
}
