@use '../abstracts/' as *;

.search-results--card {
    min-width: 20rem;
    min-height: 10rem;

    border-radius: $b-radius-normal;
    margin-bottom: $m-small;
    box-shadow: $b-shadow-normal;

    display: flex;
    flex-direction: column;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateX(-0.2rem) translateY(-0.2rem);
        box-shadow: $b-shadow-special;
    }

    &:active {
        transform: translateX(-0.1rem) translateY(-0.1rem);
        box-shadow: $b-shadow-active;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .search-results--card__header {
        height: 7rem;
        border-top-left-radius: $b-radius-normal;
        border-top-right-radius: $b-radius-normal;
        text-align: right;
        position: relative;

        .wave {
            position: absolute;
            bottom: -10%;
            right: 0;
            width: 100%;

            svg {
                display: block;
            }
        }
    }
    .search-results--card__infoControls {
        padding: $p-small;
        border-bottom-left-radius: $b-radius-normal;
        border-bottom-right-radius: $b-radius-normal;
        background-color: #fff;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;

        z-index: 10;
    }

    .search-results--card__infoControls__nameFavorite {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        text-transform: capitalize;

        h3 {
            padding: $p-small 0 $p-small $p-small;
            margin: 0;
            font-size: $f-medium;
            font-weight: 400;
            color: $font-color-secondary;
        }

        img {
            align-self: flex-start;
            width: 1rem;
            height: 1rem;
        }
    }

    .search-results--card__infoControls__icons-group {
        img {
            margin-left: $m-small;
        }
    }
}
