@use '../abstracts/' as *;
@use '../base/' as *;

.GardenEditor {
    @include viewsMain;

    // background & linear gradient
    background: linear-gradient(180deg, rgba(203, 233, 179, 0.7) 16%, rgba(137, 165, 116, 0.6) 90%),
        url('../../assets/patterns/geometric-leaves.png');
    background-repeat: repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;

    // view Body
    .GardenEditor__body {
        @include viewsBody;
    }
}
