@use '../abstracts/' as *;
@use '../base/' as *;

.Home {
    @include viewsMain;

    // background & linear gradient
    background: linear-gradient(180deg, rgba(208, 235, 182, 0.1407) 62.12%, rgba(61, 65, 58, 0.21) 95.13%),
        url('https://images.unsplash.com/photo-1604481986614-e48521951d81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;

    // view Body
    .Home__body {
        @include viewsBody;

        h1 {
            span {
                color: red;
            }
        }
    }
}

.Home__body--text {
    width: 90%;
    border-radius: $b-radius-normal;
    margin: auto;

    box-shadow: $b-shadow-normal;
    padding: $p-medium;

    display: flex;
    flex-flow: column;
    justify-content: center;

    background-color: $bg-color--secondary;

    h2 {
        font-family: $font-family-primary;

        font-size: $f-large;
        font-weight: 600;
        color: $font-color-primary;
    }

    p {
        font-size: $f-medium;
        font-weight: 300;
    }
}

.Home__body__callAction_buttons {
    width: 90%;
    margin: $m-large auto;

    display: flex;
    flex-flow: row wrap;

    button {
        flex: 1 1 10rem;
    }
}

.Home__body__takeATour_buttons {
    width: 50%;
    margin: $m-large auto;

    display: flex;
    flex-flow: row wrap;

    button {
        flex: 1 1 10rem;
    }
}

.Tour__body {
    width: 90%;
    margin: $m-medium auto;
    padding: $p-large;

    border-radius: $b-radius-normal;
    box-shadow: $b-shadow-normal;
    background-color: $bg-color--primary;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
}

.Tour__body__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: $m-medium;

    h3 {
        font-family: $font-family-primary;

        font-size: $f-large;
        font-weight: 600;
        color: $font-color-primary;
    }

    &--img {
        flex: 0 0 12rem;
        height: 12rem;

        margin: $m-medium auto;
        border-radius: $b-radius-normal;
    }

    &--text {
        flex: 1 0 15rem;
        text-align: center;
        padding: 0 $p-medium;
    }
}
.Home__body__callAction_myProfile {
    width: 90%;
    margin: $m-medium auto;

    @include flex-row-center;

    button {
        flex: 0 0 10rem;
    }
}
// mQueries //////

@include mQuery($bp-mobile-md) {
    .Tour__body__section {
        //background: yellow;
    }
}

@include mQuery($bp-tablet-sm) {
    .Tour__body__section.text-right {
        flex-direction: row-reverse;
    }
}

@include mQuery($bp-laptop-sm) {
    .UserDashboard__body__dashboard {
        width: 80%;
        gap: 1rem;

        section {
            flex: 1 0 20rem;
            margin: 0;
        }
    }
}

@include mQuery($bp-desktop-sm) {
    .UserDashboard {
        //background: yellow;
    }
}
