@use '../abstracts/' as *;
@use '../base/' as *;

.Home {
    @include viewsMain;

    // background & linear gradient
    background: linear-gradient(180deg, rgba(208, 235, 182, 0.1407) 62.12%, rgba(61, 65, 58, 0.21) 95.13%),
        url('https://images.unsplash.com/photo-1604481986614-e48521951d81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;

    // view Body
    .Home__body {
        @include viewsBody;
    }
    @include flex-col-center;
}
.Home__body--text {
    border-radius: $b-radius-normal;
    margin-bottom: $m-medium;
    box-shadow: $b-shadow-normal;
    padding: 0 1.5rem 0 $p-small;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 2.5rem;
    background-color: $bg-color--secondary;
    position: relative;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(0.2rem);
        box-shadow: $b-shadow-special;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: $b-shadow-active;
    }

    h2 {
        font-family: $font-family-primary;
        font-size: $f-large;
        color: $font-color-primary;
        margin-top: 16px;
    }
}

.Tour__body {
    @include viewsBody;
    width: 100%;
    border-radius: $b-radius-normal;
    margin-bottom: $m-medium;
    box-shadow: $b-shadow-normal;
    padding: 0 1.5rem 0 $p-small;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: $bg-color--secondary;
}

.Tour__body__section {
    display: inline-block;
    h3 {
        font-family: $font-family-primary;
        padding: $p-small 0 0 $p-small;
        width: 50%;
        font-weight: bold;
        margin: 0;
        font-size: $f-medium;
        font-weight: 400;
        color: $font-color-primary;
    }

    &--img {
        height: 10rem;
        width: 40%;
        padding: 1rem;
        border-radius: 50px;
    }

    &--text {
        width: 40%;
        text-align: center;
        padding-top: $p-large;
    }
}

.img-left {
    float: left;
}

.img-right {
    float: right;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.hide {
    display: none;
}
