@use '../abstracts/' as *;
@use '../base/' as *;

.MyFavorites {
    @include viewsMain;

    // background & linear gradient
    background: linear-gradient(180deg, rgba(203, 233, 179, 0.7) 16%, rgba(137, 165, 116, 0.6) 90%),
        url('../../assets/patterns/geometric-leaves.png');
    background-repeat: repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;

    // view Body
    .MyFavorites__body {
        @include viewsBody;
    }
}

.MyFavorites__body__favorites {
    @include flex-col-center;

    width: 80%;
    padding-bottom: $p-large;
    margin: auto;
}

.MyFavorites__addFavorites {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;

    position: fixed;
    bottom: 2%;
    left: 2%;

    z-index: 200;

    img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    &:hover::after {
        content: 'add more favorites';

        background: $bg-color--secondary;
        border-radius: $b-radius-normal;

        padding: 0 $p-small;
        margin-bottom: 0.1rem;
        text-transform: capitalize;

        font-size: $f-x-small;
        font-weight: 300;

        -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
}
