@use '../abstracts/' as *;

// main view layout
.Plantcyclopedia {
    @include viewsMain;

    // background & linear gradient
    background: linear-gradient(180deg, rgba(203, 233, 179, 0.7) 16%, rgba(137, 165, 116, 0.6) 90%),
        url('../../assets/patterns/geometric-leaves.png');
    background-repeat: repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;

    // view Body
    .Plantcyclopedia__body {
        @include viewsBody;
    }
}

// view sections
.Plantcyclopedia__body--search {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Plantcyclopedia__body--search__form {
    width: 100%;
    padding-bottom: $p-large;

    &__label {
        font-family: inherit;
        width: 80%;
        position: relative;
    }

    &__input {
        width: 100%;
        height: 2rem;
        padding: 0 $p-large 0 $p-medium;

        background-color: $bg-color--secondary;

        border: 0.1rem solid $bg-color--secondary;
        border-radius: $b-radius-normal;
        box-shadow: $b-shadow-normal;

        outline: none;

        &::placeholder {
            font-size: $f-small;
        }

        &:focus {
            border-bottom: 0.1rem solid $bg-color--special;
            box-shadow: $b-shadow-special;
        }
    }

    &__button {
        position: absolute;
        top: 0.1rem;
        right: 0.5rem;
        border: none;
        background: transparent;

        img {
            width: 1.5rem;
            height: auto;
        }
    }
}

.Plantcyclopedia__body--searchByType {
    width: 100%;
    padding-bottom: $p-large;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &__cards {
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    }
}

.Plantcyclopedia__body--results {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .noResults {
        font-size: $f-medium;
        font-weight: 300;
        color: $font-color-primary;
        margin-bottom: $m-small;
    }
}

// mQueries //////

@include mQuery($bp-mobile-md) {
    .Plantcyclopedia {
        //background: red;
    }
}

@include mQuery($bp-tablet-sm) {
    .Plantcyclopedia {
        //background: green;
    }
}

@include mQuery($bp-laptop-sm) {
    .Plantcyclopedia {
        //background: yellow;
    }
}
