@use '../abstracts/' as *;
@use '../base/' as *;

.UserDashboard {
    @include viewsMain;

    // background & linear gradient
    background: linear-gradient(180deg, rgba(203, 233, 179, 0.7) 16%, rgba(137, 165, 116, 0.6) 90%),
        url('../../assets/patterns/geometric-leaves.png');
    background-repeat: repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;

    // view Body
    .UserDashboard__body {
        @include viewsBody;
    }
}

//flex-col-center
.UserDashboard__body__dashboard {
    @include flex-col-center;

    width: 80%;
    padding-bottom: $p-large;
    margin: auto;

    &__gardens,
    &__plants,
    &__favorites {
        width: 100%;
        margin-bottom: $m-small;
    }
}

.UserDashboard__body__dashboard__display {
    width: 100%;
    min-height: 15rem;

    border-radius: $b-radius-normal;
    margin-bottom: $m-medium;
    box-shadow: $b-shadow-normal;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    cursor: pointer;
    position: relative;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(0.2rem);
        box-shadow: $b-shadow-special;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: $b-shadow-active;
    }

    h2 {
        font-family: $font-family-secondary;
        font-size: $f-large;
        color: $font-color-special;
    }

    h3 {
        font-family: $font-family-primary;
        font-size: $f-medium;
        color: $font-color-light;
    }

    h4 {
        font-size: $f-medium;
        color: $font-color-light;
    }
    .display__icon {
        background-color: $bg-color--secondary;
        width: 3rem;
        aspect-ratio: 1;
        border-radius: 1rem 0 1rem 0;

        position: absolute;
        bottom: 0%;
        right: 0%;

        transition: $transition-normal;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 1.5rem;
            aspect-ratio: 1;
            margin: $m-small;
            cursor: pointer;

            position: absolute;
            bottom: 5%;
            right: 5%;
        }
    }
}

.UserDashboard__body__dashboard__gardens {
    .UserDashboard__body__dashboard__display {
        background: url('../../assets/img/plants-2.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.UserDashboard__body__dashboard__plants {
    .UserDashboard__body__dashboard__display {
        background: url('../../assets/img/plants-5.jpeg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
}

.UserDashboard__body__dashboard__favorites {
    .UserDashboard__body__dashboard__display {
        background: url('../../assets/img/plants-3.jpeg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

// mQueries //////

@include mQuery($bp-mobile-md) {
    .UserDashboard {
        //background: yellow;
    }
}

@include mQuery($bp-tablet-sm) {
    .UserDashboard__body__dashboard {
        transition: $transition-normal;
        width: 80%;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        section {
            flex: 1 0 15rem;
            margin: 0;
        }
    }
}

@include mQuery($bp-laptop-sm) {
    .UserDashboard__body__dashboard {
        width: 80%;
        gap: 1rem;

        section {
            flex: 1 0 20rem;
            margin: 0;
        }
    }
}

@include mQuery($bp-desktop-sm) {
    .UserDashboard {
        //background: yellow;
    }
}
