@use '../abstracts/' as *;
@use '../base/' as *;

.UserDashboard {
    @include viewsMain;

    // background & linear gradient
    background: linear-gradient(180deg, rgba(203, 233, 179, 0.7) 16%, rgba(137, 165, 116, 0.6) 90%),
        url('../../assets/patterns/geometric-leaves.png');
    background-repeat: repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;

    // view Body
    .UserDashboard__body {
        @include viewsBody;
    }
}

//flex-col-center
.UserDashboard__body__dashboard {
    @include flex-col-center;

    width: 80%;
    padding-bottom: $p-large;
    margin: auto;

    &__gardens,
    &__plants,
    &__favorites {
        width: 100%;
        margin-bottom: $m-small;
    }
}

.UserDashboard__body__dashboard__display {
    width: 100%;
    min-height: 15rem;

    border-radius: $b-radius-normal;
    margin-bottom: $m-small;
    box-shadow: $b-shadow-normal;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    position: relative;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(0.2rem);
        box-shadow: $b-shadow-special;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: $b-shadow-active;
        border: 0.1rem solid white;
    }

    h3 {
        font-size: $f-medium;
        color: $font-color-primary;
    }
    h4 {
        font-size: $f-medium;
        color: $font-color-primary;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        margin: $m-small;

        position: absolute;
        bottom: 0%;
        right: 0%;
    }
}

.UserDashboard__body__dashboard__gardens {
    .UserDashboard__body__dashboard__display {
        background: url('https://images.unsplash.com/photo-1526381805515-3fec2d69e7cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=657&q=80');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.UserDashboard__body__dashboard__plants {
    .UserDashboard__body__dashboard__display {
        background: url('https://images.unsplash.com/photo-1540927550647-43699cb14916?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
        background-repeat: no-repeat;
        //background-position: top center;
        background-size: cover;
    }
}

.UserDashboard__body__dashboard__favorites {
    .UserDashboard__body__dashboard__display {
        background: url('https://images.unsplash.com/photo-1489981424607-45c58daf0581?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        background-repeat: no-repeat;
        //background-position: top center;
        background-size: cover;
    }
}
