//Background colors
$bg-color-btn--primary: #f3dd8b;
$bg-color-btn--secondary: #f3f3f3;

$bg-color-card-light: #fafafa;
$bg-color-card-dark: #3d413a;
$bg-color-suggest-box: #d5eebb;

//Font colors
$font-color-primary: #3d413a;
$font-color-secondary: #567059;
$font-color-special: #f3dd8b;
$font-color-place-holder: rgba(61, 65, 58, 0.5);
